.profile-follow-action-button{
    background: #5295f6;
    height: 40px;
    width: 120px;
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    border-radius: 3px;
    cursor: pointer;
    margin-left: -210px;
    margin-top: -60px;
}
