.feeds {
  margin-right: 30px;
  height: 100vh;
  overflow: auto;
}

.feed-body {
}

.upload-post {
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}

.new-post {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  background: white;
  height: 80px;
  margin-bottom: 20px;
  border-radius: 3px;
}

.create-new-post {
  font-size: 20px;
  color: #262626;
  font-weight: bolder;
  text-align: center;
  margin: 10px;
}

#post-image {
  width: 90px;
}

#caption {
  outline: none;
  border: 1px solid darkgrey;
  border-radius: 3px;
  width: 50%;
  height: 20px;
}

.upload-btn {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bolder;
  color: #0999f6;
  cursor: pointer;
  height: 25px;
  border-radius: 3px;
  border: 2px solid #0999f6;
  background: white;
  outline: none;
}
